header {
    border-bottom: 1px solid black; /* 横線のスタイルを設定 */
}

.header_content {
    display: flex;
    justify-content: space-between; /* head_left と head_right を左右に配置 */
}

.header_content .header_left {
    display: flex;
    justify-content: space-between;
    margin-right: auto; 
}

.header_content .header_right {
    display: flex;
    justify-content: space-between;
    margin-left: auto;  
}

/* tsutatsutaを黄緑色にする */
.header_content .header_left .appname {
    color: #1bba88; /* カラーコードは黄緑色に対応しています */
    margin-top: 0;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 22px;
}
  
  /* 検索ボックスのふちを丸くする */
.header_content .header_left .searchbox input{
    border-radius: 10px; /* 任意の値を指定してボーダーラジアスを設定 */
    border: 2px solid #ccc; /* ボーダーのスタイルと色を指定 */
    padding: 2px; /* 任意の値を指定して内側の余白を設定 */
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
    height: 18px;
}
  
.header_content .header_right .user_info {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.header_content .header_right .user_info .username {
    font-size: 13px;
    color: grey;
    margin-top: 5px;
}

  /* 出品のまわりを囲む箱を作成 */
.header_content .header_right .sale {
    border: 2px solid #8BC34A; /* ボーダーのスタイルと色を指定 */
    padding: 6px; /* 任意の値を指定して内側の余白を設定 */
    display: inline-block; /* インラインブロック要素にすることで、ボーダーが内容に合わせて表示されます */
    border-radius: 8px; /* 任意の値を指定してボーダーラジアスを設定 */
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 0px;
    background-color: #1bba88;
    color: white;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 12px;
    margin-left: 10px;
}

.header_content .header_left .searchbox {
    position: relative;
}

.header_content .header_left .searchbox .search_button {
    position: absolute;
    top: 9.5px;
    right: 2.5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header_content .header_right .notice .fa-bell{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 8px;
}

.header_content .header_right .user_info .user_icon {
    width: 25px; /* お好みのサイズに調整 */
    height: 25px; /* お好みのサイズに調整 */
    border-radius: 50%; /* 50%に設定することで円形になります */
    overflow: hidden; /* 不要な部分を隠すために overflow: hidden を追加 */
    margin-right: 10px;
    object-fit: cover;
    margin-top: 2px;
}

.header_content .header_right .user_info .user_icon img {
    width: 200%; /* 画像を親要素に合わせて表示するための設定 */
    height: auto; /* アスペクト比を維持するための設定 */
    display: block; /* 不要な余白を取り除くための設定 */
}

/* ここまで共通の要素 */
.container .navigation {
    display: flex;
}

.container .navigation .profile {
    margin-left: 650px;
    font-size: 20px;
}

.container .profile_content {
    border-bottom: 1px solid #ccc;
}

.container .profile_content .user_details {
    display: flex;
    justify-content: center;
}

.container .profile_content .user_details .box1 {
    display: flex;
}

.container .profile_content .user_details .box1 .usericon {
    width: 80px; /* お好みのサイズに調整 */
    height: 80px; /* お好みのサイズに調整 */
    border-radius: 50%; /* 50%に設定することで円形になります */
    overflow: hidden; /* 不要な部分を隠すために overflow: hidden を追加 */
    margin-right: 10px;
    object-fit: cover;
}

.container .profile_content .user_details .box1 .usericon img {
    width: 200%; /* 画像を親要素に合わせて表示するための設定 */
    height: auto; /* アスペクト比を維持するための設定 */
    display: block; /* 不要な余白を取り除くための設定 */ 
}


.container .profile_content .user_details .box1 .right_box1 .username {
    font-size: 20px;
}

.container .profile_content .user_details .box1 .right_box1 .user_id{
    font-size: 12px;
    color: grey;
}

.container .profile_content .user_details .edit_profile {
    border: 2px solid  #1bba88;/* ボーダーのスタイルと色を指定 */
    padding: 6px; /* 任意の値を指定して内側の余白を設定 */
    display: inline-block; /* インラインブロック要素にすることで、ボーダーが内容に合わせて表示されます */
    border-radius: 8px; /* 任意の値を指定してボーダーラジアスを設定 */
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 150px;
}

.container .profile_content .user_details .edit_profile .edit_profile_content {
    font-size: 15px;
}

/* ここから学部 */

.container .profile_content .faculty {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container .profile_content .faculty .gakubu_gakka {
    width: 400px;  
}

.container .profile_content .introduce_box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container .profile_content .introduce_box .introduce_content {
    width: 400px;
    height: 180px;
    border: 1px solid black;
}

/* ここからページ下部の話 */

.container .sold_product {
    height: 50%;
}

.container .sold_product .product_table {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
}

.table-row {
    display: flex;
    height: 50%;
}

.table-cell {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* ここからもっと見るボタン */

.another_product {
    display: flex;
    justify-content: center;
}

.another_product .product_view_button {
    border: 2px solid  black;/* ボーダーのスタイルと色を指定 */
    padding: 6px; /* 任意の値を指定して内側の余白を設定 */
    display: inline-block; /* インラインブロック要素にすることで、ボーダーが内容に合わせて表示されます */
    border-radius: 8px; /* 任意の値を指定してボーダーラジアスを設定 */ 
    background-color: rgb(244, 165, 19);
    color: white;
    width: 400px;
    height: 20px;
    text-align: center;
}

