<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Information</title>
</head>
<body>
    <input type="radio" id="credit" value="credit" checked>
    <label for="credit">クレジットカード決済</label>
    <input type="radio" id="softbank" value="softbank" checked>
    <label for="softbank">ソフトバンクまとめて支払い</label>
    <input type="radio" id="convenient_or_ATM" value="convenient_or_ATM" checked>
    <label for="convenient_or_ATM">コンビニ/ATM支払い</label>
    <input type="radio" id="paypay" value="paypay" checked>
    <label for="paypay">PAYPAY支払い</label>
</body>
</html>