{% extends "Main/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'Main/css/password_reset.css' %}">
{% endblock %}
{% block header-title%}パスワードを忘れた方{% endblock %}

{% block content %}
<div class="content">
    <div class="content-main">ご登録いただいたメールアドレスにパスワード再設定のご案内が送信されます</div>
    <form class="form" method="post">
        {% csrf_token %}
        <div class="form-part">
            <div class="form-part__text">
                <span class="form-part__email">メールアドレス</span>
                <span class="form-part__message">＊aaa@のメールアドレスのみ使用できます</span>
            </div>
            <p>{{ form.email }}</p>
        </div>
        <input class="form-btn" type="submit" value="メールを送信">
    </form>
</div>
{% endblock %}