{% extends "Main/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'Main/css/password_reset_confirm.css' %}">
{% endblock %}
{% block header-title%}パスワードを忘れた方{% endblock %}

{% block content %}
<div class="content">
    <div class="content-main">新しいパスワードの設定</div>
    <form class="form" method="post">
        {% csrf_token %}
        <div class="form-part">
            <div class="form-part__text">パスワード</div>
            <p>{{ form.new_password1 }}</p>
        </div>
        <div class="form-part">
            <div class="form-part__text">パスワード(確認用)</div>
            <p>{{ form.new_password2 }}</p>
        </div>
        <input class="form-btn" type="submit" value="更新する">
    </form>
</div>
{% endblock %}