{% extends 'Main/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'before_payment.css' %}">
<script src="js/payment.js"></script>
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-container">
        <div class="header-main-container">
            <span class="header-main-container__title">tsutastuta</span>
        </div>
        <div class="header-sub-container">
            <div class="header-sub-container__back">
            <a href="login"><div class="header-sub-container__back__block">&lt;</div></a>
            </div>
            <span class="header-sub-container__title">
                {% block header-title %}商品の購入{% endblock %}
            </span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="left">
        <div>
            <div><img src="" alt=""></div>
            <span>*******(教材名)</span>
        </div>
        <div class="point">
            <span>ポイントを使用する<br>所有ポイント p{{ user.point }} </span>
            p
            <input type="submit" class="point_input" id="pointInput" value="0" min="0" max="{{ user.point }}">
        </div>
        <div class="payment_method">
            <div>支払い方法</div>
            <div class="credit_card">
                <div class="img"><img src="Main\static\media\Visa_Brandmark_Blue_RGB_2021.svg" alt="VISAのロゴ" class="logo_visa"></div>
                <div class="credit_letter">
                    <span>クレジットカード決済<br>
                        {% for c in card_list %}
                        ************{{ c.card.last4 }}</span>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="send_to">
            <div>お届け先情報</div>
            <div class="send_to_letter">
                <span>{{ address.last_name }}{{ address.first_name }}<br>〒{{ address.post }}<br>{{ address.prefecture }}{{address.city}}{{address.house_number}}</span>
                <span><a href="{% url 'edit_address' username=user.username %}">変更する</a> </span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="payment_breakdown">
            <div>商品代金 ￥{{ amount }} </div>
            <div>
                使用ポイントp
                <span id="use_point"></span>
            </div>
            <div>支払金額 ￥*****</div>
            <div>支払い方法  クレジットカード</div>
        </div>
        <div class="icon_button">
            <div class="submit_button_icon">購入する</div>
        </div>
    </div>
</div>
{% endblock %}