ここにクレジットカード情報のAPIを入れたい
<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <script src="https://js.stripe.com/v3/"></script>    
    </head>
    <body>
        <!-- inputタグでclient_secretを渡す→JavaScriptで値（value）を取得する -->
        <input type="hidden" id="client_secret" value="{{ client_secret }}">

        <!--フォームが読み込まれたら、Payment Elementのインスタンスを作成して、それをコンテナーのDOMノードにマウントする-->
        <form id="payment-form">
            <div id="payment-element">
            <!-- クレジットカード入力フォームが挿入される部分 -->
            </div>
            <div id="error-message">
            <!-- エラーが起こった場合のメッセージ -->
            </div>
            <button id="submit">登録する</button>
        </form>
        
        <script src="{% static 'js/stripe.js' %}"></script>
    </body>