{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet">    <title>tsutatsuta</title>
</head>
<body>
    <header class="header">
        <div class="header-upperContainer">
            <span class="header-upperContainer_title">tsutatsuta</span>
            <div class="header-upperContainer_search">
                <input type="text" class="header-search_input">
                <button type="submit" class="header-search_icon"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="header-upperContainer_box">
                <div class="header-box_user">
                    <img src="{{ user.icon.url }}" alt="user icon" class="header-user_icon">
                    <div class="header-user_username">{{ user.username }}</div>
                </div>
                <a href="#"><div class="header-box_alert"><i class="fa-regular fa-bell"></i></div></a>
                <a href="#"><button class="header-box_sell">出品</button></a>
            </div>
            <div class="header-upperContainer_menu hidden">
                <a href="#">マイページ<span>></span></a>
                <a href="#">プロフィール<span>></span></a>
                <a href="#">出品した商品<span>></span></a>
                <a href="#">購入した商品<span>></span></a>
                <a href="#">ログアウト</a>
            </div>
        </div>
        <div class="header-underContainer">
            <span class="header-underContainer_tab">おすすめ</span>
        </div>
    </header>
    {% for  classroom, gakubu, gakka in studies_list %}
        <div class="content">
            <div class="content-label">{{ classroom.lecture }}</div>
            <div class="content-category">{{ gakubu }} <span>></span> {{ gakka }}</div>
            <div class="content-productsList">
                {% for product in products_list %}
                    {% if classroom == product.classroom_category %}
                        {% if gakubu == product.gakubu_category %}
                            {% if gakka == product.gakka_category %}
                                <a class="content-productsList_product" href="{% url 'product_description' product.id %}">
                                    <img src="{{ product.image.url }}" alt="product image" class="content-product_image">
                                    <div class="content-product_price">￥{{ product.price }}</div>
                                    <div class="content-product_name">{{ product.product_name }}</div>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <script>
        document.getElementsByClassName("header-box_user")[0].addEventListener("click",function(){
            document.getElementsByClassName("header-upperContainer_menu")[0].classList.toggle("hidden")
        })
    </script>
</body>
</html>