{% extends 'base.html' %}

{% block content %}
<div class="navigation">
    <div class="reverse_button">
        <i class="fa-solid fa-angle-left"></i>
        <!-- <a href="前のページのリンク"><i class="fa-solid fa-angle-left"></i></a> -->
    </div>
    <div class="profile">プロフィール</div>
</div>

<div class="profile_content">
    <div class="user_details">
        <div class="box1">
            <div class="usericon">
                <!-- <img src="{{ user.icon.url }}" alt="User Icon"> -->
                <img src="../static/sample.png" alt="表示できない...">
            </div>
            <div class="right_box1">
                <div class="username">たねむら</div>
                <!-- <div class="username">{{ user.username }}</div> -->
                <div class="user_id">@a0202251</div>
                <!-- <div class="user_id">{{ user.user_id }}</div> -->
            </div>
        </div>
        
        <div class="edit_profile">
            <!-- {% if is_own_profile %}
                <a href="プロフィール編集ページ">プロフィール編集</a>
            {% endif %} -->
            <div class="edit_profile_content">プロフィール編集</div>
        </div>
    </div>
    <div class="faculty">
        <div class="gakubu_gakka">
            <div class="gakubu">理学部</div>
            <div class="gakka"></div>
            <!-- <div class="gakubu">{{ user.gakubu }}</div>
            <div class="gakka">{{ user.gakka }}</div> -->
        </div>
    </div>
    <div class="introduce_box">
        <div class="introduce_content">りゅうへいです。よろしくお願いいたします。 </div>
    </div>
    <!-- <div class="introduce-box">
        <div class="introduce-content>{{ user.introduce }}</div>"
    </div> -->       
</div>

<div class="sold_product">
    <ul class="product_table">
        <li class="table-row">
            <div class="table-cell">商品1</div>
            <div class="table-cell">商品2</div>
            <div class="table-cell">商品3</div>
            <div class="table-cell">商品4</div>
            <div class="table-cell">商品5</div>
            <div class="table-cell">商品6</div>
        </li>
            
        <li class="table-row">
            <div class="table-cell">商品7</div>
            <div class="table-cell">商品8</div>
            <div class="table-cell">商品9</div>
            <div class="table-cell">商品10</div>
            <div class="table-cell">商品11</div>
            <div class="table-cell">商品12</div>
        </li>
    </ul>
    <!-- <ul class="product_table">
        <li class="table-row">
            {% for product in latest_user_products %}
            <div class="table-cell">{{ product.image }} - {{ product.product_name }} - {{ product.price }}</div>
            {% endfor %}
        </li>
        <li class="table-row">
            {% for product in relatively_latest_user_products %}
            <div class="table-cell">{{ product.image }} - {{ product.product_name }} - {{ product.price }}</div>
            {% endfor %}
        </li>       
    </ul> -->        
</div>

<div class="another_product">
    <div class="product_view_button">もっと見る</div>
</div>
{% endblock %}

    