{% extends 'base_profile2.html' %}

{% block title %}支払い情報{% endblock %}


{% block css %}
    <link rel="stylesheet" href="../../static/profile.css">
    <!-- <link rel="stylesheet" href="../static/payment_information.css"> -->

{% endblock %}

{% block header%}支払い設定{% endblock %}

{% block content %}
    <input type="radio" id="credit" value="credit" checked>
    <label for="credit">クレジットカード決済</label><br>
    <input type="radio" id="softbank" value="softbank" checked>
    <label for="softbank">ソフトバンクまとめて支払い<br>
        手数料 ￥100-880
    </label><br>
    <input type="radio" id="convenient_or_ATM" value="convenient_or_ATM" checked>
    <label for="convenient_or_ATM">コンビニ/ATM支払い<br>
        手数料 ￥100-880</label><br>
    <input type="radio" id="paypay" value="paypay" checked>
    <label for="paypay">PAYPAY支払い<br>
        手数料 ￥100-880</label>
{% endblock %}