{% extends 'base_profile.html' %}

{% block css %}
    <link rel="stylesheet" href="../../static/profile.css">
{% endblock %}

{% block content %}
<div class="navigation">
    <div class="reverse_button">
        <a href="{% url 'home_profile' username=user.username %}"><i class="fa-solid fa-angle-left"></i></a>
    </div>
    <div class="profile">プロフィール</div>
</div>

<div class="profile_content">
    <div class="user_details">
        <div class="box1">
            <div class="usericon">
                <img src="{{ user.icon.url }}" alt="User Icon">
            </div>
            <div class="right_box1">
                <div class="username">{{ user.username }}</div>             
                <div class="user_id">{{ user.user_id }}</div>
                <div class="review_box">
                    <div class="review">
                        {% for a in average_rating %}
                            <div class="filled_star"><i class="fa-solid fa-star"></i></div>
                        {% endfor %}
                        {% for a in subtract_rating %}
                            <div class="empty_star"><i class="fa-regular fa-star"></i></div>
                        {% endfor%}   
                    </div>
                    <div class="review_number">{{ review_number }}</div>
                    <div class="review_arrow"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        
        <div class="edit_profile">
            {% if is_own_profile %}
                <a href="{% url 'profile' username=user.username %}">プロフィール編集</a>
            {% endif %}            
        </div>
    </div>
    <div class="faculty">
        <div class="gakubu_gakka">           
            <div class="gakubu">{{ user.gakubu }}</div>
            <div class="gakka">{{ user.gakka }}</div>
        </div>
    </div>
    <div class="introduce_box">
        <div class="introduce_content">{{ user.introduce }}</div>
    </div>       
</div>

<div class="sold_product">
    <ul class="product_table">
        <li class="table_row">
            {% for product in latest_user_products %}
            <div class="table_cell">
                <div class="product_image"><img src="{{ product.image.url }}" alt="Product Icon"></div>
                <div class="product_detail">
                    <div class="product_name">{{ product.product_name }}</div>
                    <div class="product_price">{{ product.price }}</div>
                </div>
            </div>
            {% endfor %}
        </li>
        <li class="table_row">
            <div class="table_cell">
            {% for product in relatively_latest_user_products %}
                <div class="product_image"><img src="{{ product.image.url }}" alt="Product Icon"></div>
                <div class="product_detail">
                    <div class="product_name">{{ product.product_name }}</div>
                    <div class="product_price">{{ product.price }}</div>
                </div>
            </div>
            {% endfor %}
        </li>       
    </ul>        
</div>

<div class="another_product">
    <div class="product_view_button"><a href="{% url 'profile' username=user.username %}">もっと見る</a></div>
</div>
{% endblock %}
                
    