{% extends 'base_profile.html' %}

{% block css %}
    <link rel="stylesheet" href="../../static/user_settings.css">
{% endblock %}

{% block content %}
<div class="navigation_bar">
    <div class="reverse_button">
        <a href="{% url 'home_profile' username=user.username %}"><i class="fa-solid fa-angle-left"></i></a>
    </div>
    <div class="settings_title">個人情報設定</div>
</div>
<div class="main_content">
    <div class="left">
        <div class="navigation">
            <div class="management">
                <div class="navigation_title">
                    <div class="text">商品管理</div>
                </div>
                <div class="navigation_content">
                    <div class="text">出品した商品</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
                <div class="navigation_content">
                    <div class="text">いいねした商品</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
                <div class="navigation_content">
                    <div class="text">購入した商品</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>             
                <div class="navigation_content">
                    <div class="text">下書き</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
            </div>
            <div class="settings">
                <div class="navigation_title">
                    <div class="text">設定・ポイント</div>
                </div>
                <div class="navigation_content">
                    <div class="text">個人情報設定</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
                <div class="navigation_content">
                    <div class="text">ポイント履歴</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
            </div>
            <div class="policy">
                <div class="navigation_title">
                    <div class="text">規約・ポリシー</div>
                </div>
                <div class="navigation_content">
                    <div class="text">規約等</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
                <div class="navigation_content">
                    <div class="text">プライバシーポリシー</div>
                    <div class="right_arrow"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right_title">アカウント</div>
        <div class="right_content"><a href="{% url 'index' %}">プロフィール設定</a></div>
        <div class="right_content"><a href="{% url 'index' %}">住所設定</a></div>
        <div class="right_content"><a href="{% url 'index' %}">支払い設定</a></div>
        <div class="right_content"><a href="{% url 'index' %}">メールアドレス変更</a></div>
        <div class="right_content"><a href="{% url 'index' %}">パスワード変更</a></div>
        <div class="account_delete"><a href="{% url 'index' %}">アカウント削除</a></div>
    </div>

{% endblock %}