.content{
    text-align: center;
    width: 717px;
    margin-left: auto;
    margin-right: auto;
}

.content-main{
    font-size: 20px;
    margin-top: 20px;
}

.form-part__text{
    text-align: left;
    margin-top: 15px;
}
.form-part__user_id{
    font-size: 20px;
}
.form-part__message{
    font-size: 12px;
}

.form-part > p{
    margin-top: 0;
}

p > input {
    display: block;
    width:  717px;
    height: 52px;
    font-size: large;
    border-radius: 8px;
    border: solid 1px black;
}

.form-btn{
    width: 717px;
    height: 40px;
    background-color: #4ABDAC;
    font-size: 14px;
    color: white;
    border: solid 1px black;
    border-radius: 8px;
    margin: 20px auto auto 0;
}